.form-control {
    font-size: 20px;
    color: black !important;
}

.action-icon {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.action-icon:hover,
.action-icon:focus {
    color: pink;
}