<div class="container">
  <div class="heading mb-5">
    <h1>fire base data</h1>
  </div>
  <div class="row">
    <div class="col-md-8 m-auto">
      <form [formGroup]="userForm" (ngSubmit)="submit(userForm.value)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail12" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail12"
            aria-describedby="emailHelp"
            formControlName="lastName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail13" class="form-label"
            >Email address</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail13"
            aria-describedby="emailHelp"
            formControlName="Email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
