.form-control {
    font-size: 20px;
    color: black !important;
}

img {
    width: 150px;
    height: 180px;
}

.image-set img {
    width: 150px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px 0 grey;
}

